
.containerTask {
    margin: 0;
    background-image: url('../img/Calendario.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
}

.containerTask h3 {
    width: 100%;
    text-align: center; 
    margin-bottom: 20px; 
}

.contenedordivs {
    display: flex;
    gap: 20px;
}

.tareas {
    width: 30%;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.lista {
    flex: 1;
     padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}
.tareas form{
    width: 90%;
    justify-content: center;
    text-align: center;
}
#tablaTareas{
    width: 90%;
    border-collapse: collapse;
}
.logoutEdit{
    background-color: #4CAF50;
    display: flex;
   justify-content: right;
   text-align: center;
}
.logoutEdit a{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

#tablaTareas {
    width: 100%;
    border-collapse: collapse;
}

#tablaTareas tr:nth-child(even) {
    background-color: #f2f2f2; 
}

#tablaTareas tr:nth-child(odd) {
    background-color: #ffffff; 
}


#tablaTareas th, #tablaTareas td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; 
}


#tablaTareas th {
    background-color: #4CAF50; 
    color: white; 
}

#tablaTareas td:last-child {
    text-align: center; 
}

#tablaTareas td a {
    margin: 0 10px; 
    color: #333; 
    font-size: 16px; 
    text-decoration: none; 
}
#tablaTareas td a:hover {
    color: #007BFF; 
}
